{% include "blocks/header.twig" %}


<div class="content">

    <fieldset>
        <label for="request">Rechercher une musique</label>
        <input id="request" name="request-video"  type="text">
        <button id="request-go">Rechercher</button>
    </fieldset>

    <div id="playlist">

    </div>

    <div id="list-result">

    </div>


</div>


{% include "blocks/footer.twig" %}





